In [1]:
import os
import glob
import pandas as pd
os.chdir("/data/localhost/taufiq/pulse-data-5-step")

In [2]:
extension = 'final_.csv'
all_filenames = [i for i in glob.glob('*{}'.format(extension))]
pulse_data = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [3]:
pulse_data['icustay_id'] = pulse_data['id'].astype(int)
pulse_data = pulse_data.reset_index()
pulse_data.head()

,index,Albumin - BloodConcentration (mg/L),ArterialCarbonDioxidePressure (mmHg),ArterialOxygenPressure (mmHg),ArterialPressure (mmHg),Bicarbonate - BloodConcentration (mg/L),BloodPH (None),BloodUreaNitrogenConcentration (mg/dL),BloodVolume (mL),Calcium - BloodConcentration (mg/L),...,RespirationRate (1/min),SaturationAndFractionOfInspiredOxygenRatio (None),SimulationTime(s),SkinTemperature (degC),Sodium - BloodConcentration (mg/L),SystolicArterialPressure (mmHg),WhiteBloodCellCount (ct/uL),id,time,icustay_id
0,0,36942.076357,40.766614,89.927432,116.205401,1589.280619,7.406174,12.954165,6432.049911,48.181075,...,18.633540,4.638695,0.0,33.203250,3328.440581,119.230483,7000.0,86855.0,6.607069e+09,86855
1,1,36524.917484,40.872763,90.052348,92.470480,1589.598103,7.405145,13.608056,6492.148657,53.043316,...,18.750000,4.633428,3600.0,33.879672,3319.123490,122.674910,7000.0,86855.0,6.607073e+09,86855
2,2,36069.948819,40.889780,90.176441,105.766357,1589.422211,7.404981,14.168092,6560.608547,57.671101,...,18.750000,4.633453,7200.0,32.973720,3311.273411,123.910096,7000.0,86855.0,6.607076e+09,86855
3,3,35344.795982,40.949980,90.585038,99.518088,1589.162254,7.404399,14.827684,6681.667603,61.641868,...,18.867925,4.635279,10800.0,33.382638,3311.388720,121.909499,7000.0,86855.0,6.607080e+09,86855
4,4,34739.622499,40.941064,90.624763,120.664434,1589.148171,7.404485,14.816667,6784.488523,65.534987,...,18.867925,4.635250,14400.0,33.415902,3280.588569,122.044169,7000.0,86855.0,6.607084e+09,86855

In [4]:
column_mappings = {
    'Albumin - BloodConcentration (mg/L)': 'Albumin',
    'ArterialCarbonDioxidePressure (mmHg)': 'paCO2',
    'ArterialOxygenPressure (mmHg)': 'paO2',
    'Bicarbonate - BloodConcentration (mg/L)': 'HCO3',
    'BloodPH (None)': 'Arterial_pH',
    'BloodUreaNitrogenConcentration (mg/dL)': 'BUN',
    'Calcium - BloodConcentration (mg/L)': 'Calcium',
    'Chloride - BloodConcentration (mg/L)': 'Chloride',
    'Creatinine - BloodConcentration (mg/L)': 'Creatinine',
    'DiastolicArterialPressure (mmHg)': 'DiaBP',
    'Glucose - BloodConcentration (mg/L)': 'Glucose',
    'Lactate - BloodConcentration (mg/L)': 'Arterial_lactate',
    'MeanArterialPressure (mmHg)': 'MeanBP',
    'Potassium - BloodConcentration (mg/L)': 'Potassium',
    'RespirationRate (1/min)': 'RR',
    'SaturationAndFractionOfInspiredOxygenRatio (None)': 'PaO2_FiO2',
    'SkinTemperature (degC)': 'Temp_C',
    'Sodium - BloodConcentration (mg/L)': 'Sodium',
    'SystolicArterialPressure (mmHg)': 'SysBP',
    'WhiteBloodCellCount (ct/uL)': 'WBC_count',
    'HeartRate (1/min)': 'HR'
}

pulse_rename = {}

for k, v in column_mappings.items():
    pulse_rename.update({k: f"{v}-pulse"})

pulse_data = pulse_data.rename(columns=pulse_rename)

In [5]:
pulse_data_t4 = pulse_data[pulse_data['index']==4].reset_index(drop=True)
pulse_data_t4.head()

,index,Albumin-pulse,paCO2-pulse,paO2-pulse,ArterialPressure (mmHg),HCO3-pulse,Arterial_pH-pulse,BUN-pulse,BloodVolume (mL),Calcium-pulse,...,RR-pulse,PaO2_FiO2-pulse,SimulationTime(s),Temp_C-pulse,Sodium-pulse,SysBP-pulse,WBC_count-pulse,id,time,icustay_id
0,4,34739.622499,40.941064,90.624763,120.664434,1589.148171,7.404485,14.816667,6784.488523,65.534987,...,18.867925,4.635250,14400.0,33.415902,3280.588569,122.044169,7000.0,86855.0,6.607084e+09,86855
1,4,33609.641524,40.316771,92.252505,62.486801,1587.515442,7.410560,16.942500,6109.256284,66.569279,...,20.000000,4.645202,14400.0,34.672039,3272.404112,125.449404,7000.0,75585.0,7.103831e+09,75585
2,4,33574.492538,40.075190,90.850378,61.245310,1590.617205,7.412936,30.508975,6453.100474,67.170396,...,16.216216,4.638985,14400.0,31.080001,3297.849544,127.037057,7000.0,1528.0,6.412662e+09,1528
3,4,30448.168145,40.154070,93.315238,63.699614,1589.376905,7.412159,20.113887,5651.564601,65.111820,...,20.408163,4.650594,14400.0,33.218726,3277.268664,137.260603,7000.0,3198.0,6.551872e+09,3198
4,4,32697.394815,39.977706,94.185855,85.076206,1589.098606,7.413899,20.338993,4704.319868,73.599032,...,20.408163,4.654675,14400.0,33.729640,3279.078944,101.608346,7000.0,3874.0,7.465384e+09,3874

In [6]:
MIMICtable = pd.read_csv("/data/localhost/taufiq/export-dir/MIMIC-1hourly-length-5.csv")
MIMICtable['icustay_id'] = MIMICtable['icustay_id'].astype(int)
MIMICtable.head()

,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,mortality_90d,...,mechvent,Shock_Index,PaO2_FiO2,median_dose_vaso,max_dose_vaso,input_total,input_1hourly,output_total,output_1hourly,cumulated_balance
0,1,65537,7.139723e+09,0.0,22799.40478,4.0,1.0,0.0,0.0,0.0,...,0.0,0.687500,363.888889,0.18,0.18,4020.493550,29.994183,7235.0,3605.0,-3184.512267
1,2,65537,7.139727e+09,0.0,22799.40478,4.0,1.0,0.0,0.0,0.0,...,0.0,0.602564,430.555556,0.00,0.00,4050.487733,515.407667,10760.0,3525.0,-6194.104600
2,3,65537,7.139731e+09,0.0,22799.40478,4.0,1.0,0.0,0.0,0.0,...,0.0,0.751456,402.222222,0.00,0.00,4565.895400,547.876700,14235.0,3475.0,-9121.227900
3,4,65537,7.139734e+09,0.0,22799.40478,4.0,1.0,0.0,0.0,0.0,...,0.0,0.804762,275.000000,0.00,0.00,5113.772100,2097.144000,17630.0,3395.0,-10419.083900
4,5,65537,7.139738e+09,0.0,22799.40478,4.0,1.0,0.0,0.0,0.0,...,0.0,0.804245,283.000000,0.00,0.00,7210.916100,519.833583,20785.0,3155.0,-13054.250317

In [7]:
MIMICtable_filtered = MIMICtable[MIMICtable['icustay_id'].isin(pulse_data['icustay_id'])]

In [8]:
MIMICtable_filtered_t0 = MIMICtable_filtered[MIMICtable_filtered['bloc']==1].reset_index()
MIMICtable_filtered_t4 = MIMICtable_filtered[MIMICtable_filtered['bloc']==4][[
       'icustay_id', 'RR', 'HR', 'SysBP', 'MeanBP', 'DiaBP', 'RR',
       'SpO2', 'Temp_C', 'FiO2_1', 'Potassium', 'Sodium', 'Chloride',
       'Glucose', 'BUN', 'Creatinine', 'Magnesium', 'Calcium', 'Ionised_Ca',
       'CO2_mEqL', 'SGOT', 'SGPT', 'Total_bili', 'Albumin', 'Hb', 'WBC_count',
       'Platelets_count', 'PTT', 'PT', 'INR', 'Arterial_pH', 'paO2', 'paCO2',
       'Arterial_BE', 'HCO3', 'Arterial_lactate']].reset_index()

In [9]:
col_dict = {}
for col in MIMICtable_filtered_t4.columns:
    if col != 'icustay_id':
        col_dict.update({col: f"{col}-t4"})

MIMICtable_filtered_t4 = MIMICtable_filtered_t4.rename(columns=col_dict)

In [10]:
data_combined = MIMICtable_filtered_t0.merge(MIMICtable_filtered_t4, left_on='icustay_id', right_on='icustay_id')
data_combined = data_combined.merge(pulse_data_t4, left_on='icustay_id', right_on='icustay_id')

In [11]:
len(data_combined)

4943

In [12]:
probs_data = pd.read_csv("/data/localhost/taufiq/export-dir/probability-data-5step.csv")
probs_data['icustay_id'] = probs_data['icustay_id'].astype(int)

In [13]:
data_combined = data_combined.merge(probs_data, left_on='icustay_id', right_on='icustay_id')

In [14]:
data_combined.head()

,index_x,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,...,Temp_C-pulse,Sodium-pulse,SysBP-pulse,WBC_count-pulse,id,time,Unnamed: 0,action,group_id,prob
0,15,1,98314,4.762714e+09,0.0,23940.093773,4.0,0.0,1.0,1.0,...,34.373798,3269.927049,123.847702,7000.0,98314.0,4.762728e+09,0,3.0,2.0,0.102098
1,35,1,32796,4.882446e+09,1.0,30118.703299,5.0,1.0,0.0,0.0,...,34.457485,3272.227118,128.947597,7000.0,32796.0,4.882460e+09,1,7.0,3.0,0.015911
2,70,1,65594,5.887451e+09,1.0,24820.816921,6.0,0.0,0.0,0.0,...,32.476801,3287.250125,119.388327,7000.0,65594.0,5.887465e+09,2,13.0,8.0,0.000203
3,85,1,32844,4.454810e+09,1.0,27290.408796,4.0,0.0,0.0,0.0,...,34.778361,3273.629503,129.374357,7000.0,32844.0,4.454825e+09,3,16.0,209.0,0.006125
4,90,1,98383,5.980243e+09,0.0,16138.829387,6.0,0.0,0.0,0.0,...,33.820858,3269.941973,123.989028,7000.0,98383.0,5.980257e+09,4,17.0,29.0,0.000271

In [15]:
grouped_max = pd.read_csv("/data/localhost/taufiq/export-dir/grouped_max.csv")
grouped_min = pd.read_csv("/data/localhost/taufiq/export-dir/grouped_min.csv")
for col in grouped_max:
    if col not in ['group_id']:
        grouped_max[f"{col}-max"] = grouped_max[col]
        grouped_max.drop(columns=[col], inplace=True)

for col in grouped_min:
    if col not in ['group_id']:
        grouped_min[f"{col}-min"] = grouped_min[col]
        grouped_min.drop(columns=[col], inplace=True)
data_combined = data_combined.merge(grouped_min, left_on='group_id', right_on='group_id')
data_combined = data_combined.merge(grouped_max, left_on='group_id', right_on='group_id')
data_combined.head()

,index_x,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,...,mechvent-max,Shock_Index-max,PaO2_FiO2-max,median_dose_vaso-max,max_dose_vaso-max,input_total-max,input_1hourly-max,output_total-max,output_1hourly-max,cumulated_balance-max
0,15,1,98314,4.762714e+09,0.0,23940.093773,4.0,0.0,1.0,1.0,...,0.0,1.257426,1542.857143,0.2,0.2,27925.6086,1876.65125,69658.0,11472.0,21460.6156
1,2755,1,35160,7.151569e+09,0.0,14688.458738,3.0,0.0,0.0,0.0,...,0.0,1.257426,1542.857143,0.2,0.2,27925.6086,1876.65125,69658.0,11472.0,21460.6156
2,13010,1,79088,5.826971e+09,0.0,20726.585035,4.0,1.0,1.0,1.0,...,0.0,1.257426,1542.857143,0.2,0.2,27925.6086,1876.65125,69658.0,11472.0,21460.6156
3,18460,1,52040,4.488329e+09,0.0,19922.953507,1.0,0.0,0.0,0.0,...,0.0,1.257426,1542.857143,0.2,0.2,27925.6086,1876.65125,69658.0,11472.0,21460.6156
4,24810,1,91704,5.271591e+09,0.0,11986.759387,1.0,0.0,0.0,0.0,...,0.0,1.257426,1542.857143,0.2,0.2,27925.6086,1876.65125,69658.0,11472.0,21460.6156

In [16]:
inbounds = 1
# for col in ['HR', 'SysBP', 'DiaBP', 'MeanBP', 'Sodium', 'Chloride', 'Glucose', 'Creatinine', 'Calcium']:
for col in ['HR', 'SysBP', 'DiaBP', 'MeanBP']:
# for col in ['Sodium', 'Chloride', 'Glucose', 'Creatinine']:    
    data_combined[f"{col}_ub"] = data_combined[col]*data_combined['prob'] + (1-data_combined['prob'])*(data_combined[f"{col}-max"])
    data_combined[f"{col}_lb"] = data_combined[col]*data_combined['prob'] + (1-data_combined['prob'])*(data_combined[f"{col}-min"])
    inbounds *= data_combined[f'{col}-pulse'].between(data_combined[f"{col}_lb"], data_combined[f"{col}_ub"])

In [17]:
inbounds.sum()/len(inbounds)

0.7361396303901437

In [18]:
data_combined['SysBP-pulse'].between(data_combined['SysBP_lb'], data_combined['SysBP_ub']).sum()/len(data_combined)

0.9537987679671458