In [1]:
import os
import glob
import pandas as pd
os.chdir("/data/localhost/taufiq/pulse-data")

In [2]:
extension = 'final_.csv'
all_filenames = [i for i in glob.glob('*{}'.format(extension))]
pulse_data = pd.concat([pd.read_csv(f) for f in all_filenames ])

In [3]:
pulse_data['icustay_id'] = pulse_data['id'].astype(int)
pulse_data = pulse_data.reset_index()
pulse_data.head()

,index,Albumin - BloodConcentration (mg/L),ArterialCarbonDioxidePressure (mmHg),ArterialOxygenPressure (mmHg),ArterialPressure (mmHg),Bicarbonate - BloodConcentration (mg/L),BloodPH (None),BloodUreaNitrogenConcentration (mg/dL),BloodVolume (mL),Calcium - BloodConcentration (mg/L),...,RespirationRate (1/min),SaturationAndFractionOfInspiredOxygenRatio (None),SimulationTime(s),SkinTemperature (degC),Sodium - BloodConcentration (mg/L),SystolicArterialPressure (mmHg),WhiteBloodCellCount (ct/uL),id,time,icustay_id
0,0,36949.438638,40.082410,91.855017,98.292663,1587.765562,7.412865,13.059566,5601.571764,48.187032,...,20.000000,4.647789,0.0,33.279228,3330.266997,118.768598,7000.0,75585.0,7.103817e+09,75585
1,1,35975.628338,40.314134,92.062561,60.025035,1587.686746,7.410586,15.328943,5741.443742,53.133540,...,20.000000,4.646387,3600.0,35.056723,3318.178469,121.036521,7000.0,75585.0,7.103820e+09,75585
2,0,36941.846898,39.893587,88.507821,87.414676,1590.467389,7.414731,13.081810,5911.672498,48.154955,...,15.544041,4.635947,0.0,33.079131,3322.906770,121.156909,7000.0,1528.0,6.412648e+09,1528
3,1,35936.144876,40.085716,90.793879,123.365319,1590.964542,7.412832,15.169833,6064.724204,52.697856,...,16.216216,4.637655,3600.0,31.448060,3312.145317,123.632804,7000.0,1528.0,6.412651e+09,1528
4,0,36968.735379,39.894300,91.729049,120.522155,1589.726134,7.414724,13.066101,4691.617731,48.192895,...,19.867550,4.649578,0.0,33.144292,3327.133490,120.941327,7000.0,3198.0,6.551858e+09,3198

In [4]:
column_mappings = {
    'Albumin - BloodConcentration (mg/L)': 'Albumin',
    'ArterialCarbonDioxidePressure (mmHg)': 'paCO2',
    'ArterialOxygenPressure (mmHg)': 'paO2',
    'Bicarbonate - BloodConcentration (mg/L)': 'HCO3',
    'BloodPH (None)': 'Arterial_pH',
    'BloodUreaNitrogenConcentration (mg/dL)': 'BUN',
    'Calcium - BloodConcentration (mg/L)': 'Calcium',
    'Chloride - BloodConcentration (mg/L)': 'Chloride',
    'Creatinine - BloodConcentration (mg/L)': 'Creatinine',
    'DiastolicArterialPressure (mmHg)': 'DiaBP',
    'Glucose - BloodConcentration (mg/L)': 'Glucose',
    'Lactate - BloodConcentration (mg/L)': 'Arterial_lactate',
    'MeanArterialPressure (mmHg)': 'MeanBP',
    'Potassium - BloodConcentration (mg/L)': 'Potassium',
    'RespirationRate (1/min)': 'RR',
    'SaturationAndFractionOfInspiredOxygenRatio (None)': 'PaO2_FiO2',
    'SkinTemperature (degC)': 'Temp_C',
    'Sodium - BloodConcentration (mg/L)': 'Sodium',
    'SystolicArterialPressure (mmHg)': 'SysBP',
    'WhiteBloodCellCount (ct/uL)': 'WBC_count',
    'HeartRate (1/min)': 'HR'
}

pulse_rename = {}

for k, v in column_mappings.items():
    pulse_rename.update({k: f"{v}-pulse"})

pulse_data = pulse_data.rename(columns=pulse_rename)

In [5]:
pulse_data_t1 = pulse_data[pulse_data['index']==1].reset_index()
pulse_data_t1.head()

,level_0,index,Albumin-pulse,paCO2-pulse,paO2-pulse,ArterialPressure (mmHg),HCO3-pulse,Arterial_pH-pulse,BUN-pulse,BloodVolume (mL),...,RR-pulse,PaO2_FiO2-pulse,SimulationTime(s),Temp_C-pulse,Sodium-pulse,SysBP-pulse,WBC_count-pulse,id,time,icustay_id
0,1,1,35975.628338,40.314134,92.062561,60.025035,1587.686746,7.410586,15.328943,5741.443742,...,20.000000,4.646387,3600.0,35.056723,3318.178469,121.036521,7000.0,75585.0,7.103820e+09,75585
1,3,1,35936.144876,40.085716,90.793879,123.365319,1590.964542,7.412832,15.169833,6064.724204,...,16.216216,4.637655,3600.0,31.448060,3312.145317,123.632804,7000.0,1528.0,6.412651e+09,1528
2,5,1,35895.385406,40.166459,93.090062,76.919491,1589.923073,7.412037,15.243480,4822.004513,...,20.547945,4.649145,3600.0,32.995336,3316.372370,123.206913,7000.0,3198.0,6.551861e+09,3198
3,7,1,35677.069455,40.039086,93.941412,98.787973,1589.423023,7.413292,17.811932,4336.852542,...,20.408163,4.653826,3600.0,33.837738,3320.949484,98.955592,7000.0,3874.0,7.465373e+09,3874
4,9,1,35646.960665,39.754088,91.646429,107.917116,1589.025655,7.416116,16.850956,5261.790015,...,17.543860,4.644921,3600.0,33.882241,3314.616811,110.421545,7000.0,8222.0,6.177089e+09,8222

In [6]:
MIMICtable = pd.read_csv("/data/localhost/taufiq/export-dir/MIMIC-1hourly-length-2.csv")
MIMICtable['icustay_id'] = MIMICtable['icustay_id'].astype(int)
MIMICtable.head()

,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,mortality_90d,...,mechvent,Shock_Index,PaO2_FiO2,median_dose_vaso,max_dose_vaso,input_total,input_1hourly,output_total,output_1hourly,cumulated_balance
0,1,65537,7.139723e+09,0.0,22799.404780,4.0,1.0,0.0,0.0,0.0,...,0.0,0.687500,363.888889,0.18,0.18,4020.493550,29.994183,7235.0,3605.0,-3184.512267
1,2,65537,7.139727e+09,0.0,22799.404780,4.0,1.0,0.0,0.0,0.0,...,0.0,0.602564,430.555556,0.00,0.00,4050.487733,515.407667,10760.0,3525.0,-6194.104600
2,1,3,7.245400e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.663900,599.999991,0.00,0.00,6267.000000,0.000000,9490.0,4705.0,-3223.000000
3,2,3,7.245403e+09,0.0,17639.826435,0.0,0.0,0.0,0.0,1.0,...,0.0,0.672340,339.999995,0.00,0.00,6267.000000,10.000000,14095.0,4605.0,-7818.000000
4,1,65544,7.056917e+09,0.0,24000.436400,3.0,0.0,0.0,0.0,0.0,...,0.0,0.770925,938.636364,0.00,0.00,11332.000000,0.000000,8210.0,4105.0,3122.000000

In [7]:
MIMICtable_filtered = MIMICtable[MIMICtable['icustay_id'].isin(pulse_data['id'])]

In [8]:
MIMICtable_filtered_t0 = MIMICtable_filtered[MIMICtable_filtered['bloc']==1].reset_index()
MIMICtable_filtered_t1 = MIMICtable_filtered[MIMICtable_filtered['bloc']==2][[
       'icustay_id', 'RR', 'HR', 'SysBP', 'MeanBP', 'DiaBP', 'RR',
       'SpO2', 'Temp_C', 'FiO2_1', 'Potassium', 'Sodium', 'Chloride',
       'Glucose', 'BUN', 'Creatinine', 'Magnesium', 'Calcium', 'Ionised_Ca',
       'CO2_mEqL', 'SGOT', 'SGPT', 'Total_bili', 'Albumin', 'Hb', 'WBC_count',
       'Platelets_count', 'PTT', 'PT', 'INR', 'Arterial_pH', 'paO2', 'paCO2',
       'Arterial_BE', 'HCO3', 'Arterial_lactate']].reset_index()

In [9]:
col_dict = {}
for col in MIMICtable_filtered_t1.columns:
    if col != 'icustay_id':
        col_dict.update({col: f"{col}-t1"})

MIMICtable_filtered_t1 = MIMICtable_filtered_t1.rename(columns=col_dict)

In [10]:
data_combined = MIMICtable_filtered_t0.merge(MIMICtable_filtered_t1, left_on='icustay_id', right_on='icustay_id')
data_combined = data_combined.merge(pulse_data_t1, left_on='icustay_id', right_on='icustay_id')

In [11]:
len(data_combined)

4947

In [12]:
probs_data = pd.read_csv("/data/localhost/taufiq/export-dir/probability-data.csv")
probs_data['icustay_id'] = probs_data['icustay_id'].astype(int)

In [13]:
data_combined = data_combined.merge(probs_data, left_on='icustay_id', right_on='icustay_id')

In [14]:
data_combined.head()

,index_x,bloc,icustay_id,charttime,gender,age,elixhauser,re_admission,died_in_hosp,died_within_48h_of_out_time,...,SimulationTime(s),Temp_C-pulse,Sodium-pulse,SysBP-pulse,WBC_count-pulse,id,time,Unnamed: 0,action,prob
0,16,1,32803,6.028404e+09,1.0,25542.238889,4.0,0.0,0.0,0.0,...,3600.0,32.029371,3312.015626,91.158812,7000.0,32803.0,6.028407e+09,0,3.0,0.217442
1,40,1,98383,5.980243e+09,0.0,16138.829387,6.0,0.0,0.0,0.0,...,3600.0,33.779906,3317.726607,120.359758,7000.0,98383.0,5.980246e+09,1,3.0,0.496987
2,42,1,32851,5.324900e+09,0.0,18159.890104,5.0,0.0,0.0,0.0,...,3600.0,33.759302,3320.717196,122.360749,7000.0,32851.0,5.324904e+09,2,3.0,0.500566
3,54,1,95,4.538574e+09,1.0,33383.850000,7.0,1.0,1.0,1.0,...,3600.0,34.230583,3316.437659,94.176894,7000.0,95.0,4.538578e+09,3,2.0,0.010081
4,56,1,32863,6.959409e+09,0.0,21845.757211,3.0,0.0,0.0,0.0,...,3600.0,33.269317,3316.004120,121.380934,7000.0,32863.0,6.959413e+09,4,8.0,0.006364

In [15]:
inbounds = 1
# for col in ['HR', 'SysBP', 'DiaBP', 'MeanBP', 'Sodium', 'Chloride', 'Glucose', 'Creatinine', 'Calcium']:
for col in ['HR', 'SysBP', 'DiaBP']:
    data_combined[f"{col}_ub"] = data_combined[col]*data_combined['prob'] + (1-data_combined['prob'])*(data_combined[col].max())
    data_combined[f"{col}_lb"] = data_combined[col]*data_combined['prob'] + (1-data_combined['prob'])*(data_combined[col].min())
    inbounds *= data_combined[f'{col}-pulse'].between(data_combined[f"{col}_lb"], data_combined[f"{col}_ub"])
# data_combined['hr_ub'] = data_combined['HR']*data_combined['prob'] + (1-data_combined['prob'])*(data_combined['HR'].max())
# data_combined['hr_lb'] = data_combined['HR']*data_combined['prob'] + (1-data_combined['prob'])*(data_combined['HR'].min())
# data_combined['sysbp_ub'] = data_combined['SysBP']*data_combined['prob'] + (1-data_combined['prob'])*(data_combined['SysBP'].max())
# data_combined['sysbp_lb'] = data_combined['SysBP']*data_combined['prob'] + (1-data_combined['prob'])*(data_combined['SysBP'].min())

In [16]:
inbounds.sum()/len(data_combined)

0.8940137389597644

In [18]:
data_combined['SysBP-pulse'].between(data_combined['SysBP_lb'], data_combined['SysBP_ub']).sum()/len(data_combined)

0.9077526987242395